@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto Slab', serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navcontainer {
  max-width: 100%;
  margin: auto;
  padding: 0 10%;
  background-color: #f05d27;
}

.navcontainer nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navcontainer nav a img {
  height: 50px;
  width: 50px;
}

.head_container {
  max-width: 90%;
  margin: auto;
}

/*--------------header--------*/
header {
  height: auto;
}

/* .logo img {
  width: 120px;
} */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header nav .nav-menu {
  margin-top: 20px;
}

.carousel-caption {
  margin: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  bottom: 0rem;
  text-align: justify;
  padding: 30% 20%;

}

.carousel-caption h3 {

  text-align: center;
}

.hambuger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li {
  margin: 0 1rem;
}

header ul li a {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  transition: 0.5s;
}

header ul li a:hover {
  color: #f05d27;
}

.btn img {
  height: 2.1rem;
  width: 2.1rem;
  border-radius: 50%;
}

/* .nav-search-account form{
  margin-right: 1rem;
} */
@media only screen and (max-width: 768px) {
  .navcontainer nav {
    width: 95%;
  }

  .nav-menu.active {
    color: #222222;
  }

  header ul {
    display: block;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 20;
  }

  header ul.active {
    left: 0%;
  }

  header ul li {
    margin: 2.5rem 0;
  }

  header ul li a {
    color: black;
  }

  .hambuger {
    display: block;
    cursor: pointer;
    padding-top: 0.5rem;
  }

  .hambuger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hambuger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hambuger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*--------------header--------*/
/*--------------home--------*/
.home .image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.home .text {
  max-width: 50%;
  color: white;
  margin: 20% 0 0 10%;
}

.home h1 {
  font-size: 80px;
  font-weight: 400;
}

.home p {
  font-weight: 400;
  line-height: 25px;
  font-family: sans-serif;
  font-size: 17px;
  margin: 0px 0 0 0px;
}

button {
  padding: 20px 40px;
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  margin-top: 20px;
}

.home button {
  margin-left: 50px;
}

.home .image_item {
  position: absolute;
  top: 20%;
  right: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.home .image_item img {
  width: 140px;
  height: 94px;
  margin: 10px;
  transition: 0.5s;
}

.home .image_item img.active {
  border: 2px solid white;
}

.home .box .text {
  position: relative;
}

.home .box .text::after {
  position: absolute;
  content: 'H';
  font-size: 500px;
  top: -120%;
  font-weight: bold;
  opacity: 0.1;
}

.carousel-item img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.driverbook {
  position: relative;
  top: -39rem;
}

.driverbook1,
.driverbook1 .book {
  height: auto;
}

/*--------------home--------*/
/*--------------book--------*/
.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.book {
  position: relative;
  top: -50px;
  width: 100%;
  height: 2vh;
  color: white;
}

.book .input {
  background: #f05d27;
  padding: 20px 20px 40px 20px;
}

.book .search {
  background: #ff895e;
  color: white;
  padding: 20px;
}

input {
  width: 100%;
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  background: white;
  margin-top: 20px;
  color: black;
}

::placeholder {
  color: white;
}

.book .search {
  color: white;
  width: 20%;
}

.book .search input {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
  color: #fff;
}

/*--------------book--------*/
/*--------------about--------*/
.top {
  margin-top: 10%;
}

.mtop {
  margin-top: 5%;
}

.left,
.right {
  width: 50%;
}

.about {
  margin-bottom: 50px;
}

.about .img {
  position: relative;
}

.about .image1 {
  position: relative;
  width: 310px;
  height: 450px;
}

.about .image2 {
  width: 325px;
  height: 220px;
  position: absolute;
  bottom: 5px;
  z-index: 2;
  right: 30%;
}

.heading {
  position: relative;
}

.heading::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100px;
  height: 4px;
  background: #ff895e;
}

.heading h5 {
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #5f5f5f;
}

.heading h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 40px 0;
  color: #222222;
}

.heading p {
  margin-bottom: 20px;
  line-height: 25px;
  color: #5f5f5f;
  margin: 0 0 20px 50px;
}

.heading .btn1 {
  margin: 50px 0 20px 50px;
}

.btn1 {
  background: #ff895e;
  color: white;
}

.btn-mid {
  position: relative;
  left: 35%;
}

.middle {
  text-align: center;
}

/*--------------about--------*/
/*--------------wrapper--------*/
.wrapper {
  background-image: url("../images/ami.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
}

.wrapper .text {
  background: #f05d27;
  padding: 3rem;
  width: 40%;
  height: 600px;
  position: absolute;
  top: -13%;
  right: 10%;
  padding-top: 5%;
  color: white;
}

.wrapper .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
}

.wrapper h2 {
  font-weight: 400;
}

.wrapper p {
  margin: 20px 0 50px 0;
  line-height: 30px;
}

.wrapper i {
  margin: 5px 20px 0 0;
}

/*--------------wrapper--------*/
/*--------------room--------*/
.flex1 {
  display: flex;
  justify-content: space-between;
}

.room .grid {
  grid-template-columns: repeat(3, 1fr);
}

.room img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  object-position: center;
}

.room .box {
  box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);
}

.room .text {
  padding: 20px;
}

.room h3 {
  font-weight: 400;
  margin-bottom: 10px;
}

.room p span {
  font-size: 12px;
  color: grey;
}

.room p {
  font-size: 20px;
}

/*--------------room--------*/
/*--------------wrapper2--------*/
.wrapper2 {
  background-image: url("../images/w1.jpg");
}

.wrapper2 .text {
  left: 10%;
}

.wrapper2 h5,
.wrapper2 h2 {
  color: white;
}

.wrapper2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.wrapper2 .para h5 {
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
}

.wrapper2 .para {
  margin-left: 10%;
}

/*--------------wrapper2--------*/
/*--------------restaurant--------*/
.restaurant img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
  object-position: center;
}

.restaurant .right {
  padding: 50px 50px 50px 100px;
}

.restaurant h2 {
  margin-bottom: 20px;
  font-weight: 400;
}

.restaurant .text p {
  margin-bottom: 50px;
  line-height: 25px;
}

.accordionItem {
  margin-top: 30px;
}

.accordionItem p {
  font-size: 15px;
  opacity: 0.8;
  font-family: sans-serif;
  line-height: 20px;
}

.accordionIHeading {
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  font-weight: 400;
  font-size: 17px;
  color: #f05d27;
  margin-bottom: 20px;
}

.close .accordionItemContent {
  height: 0px;
  transition: height 1s ease-out;
  transform: scaleY(0);
  float: left;
  display: block;
  background-color: #fff;
}

.open .accordionItemContent {
  padding: 30px;
  background-color: #fff;
  width: 100%;
  margin: 0 0 10px 0;
  display: block;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
  box-sizing: border-box;
  box-shadow: 0 13px 43px 0 rgb(37 46 89 / 10%);
}

.accordionItemContent img {
  height: 6rem;
  width: 6rem;
  border: 5px solid #f05d27;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1rem;
}

/*--------------restaurant--------*/
/*--------------gallary--------*/
.gallary img {
  width: 270px;
  height: 350px;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  height: 50px;
  position: absolute;
  width: 50px;
  cursor: pointer;
  top: 35%;
  background: white !important;
  transition: 0.5s;
}

.owl-carousel .owl-prev {
  left: 33px;
}

.owl-carousel .owl-next {
  right: 33px;
}

.owl-carousel .owl-next:hover,
.owl-carousel .owl-prev:hover {
  background: #f05d27 !important;
}

.owl-carousel .item img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/*--------------gallary--------*/
/*--------------map--------*/
.map iframe {
  width: 100%;
}

/*--------------map--------*/
/*--------------footer--------*/
footer h3 {
  margin-bottom: 20px;
}

footer li {
  margin-bottom: 15px;
  transition: 0.5s;
}

footer li:hover {
  color: #f05d27;
  cursor: pointer;
}

.about {
  height: auto;
  width: full;
}

.about-img {
  position: relative;
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 2rem;
}

.about-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.about-grid-item {
  background-color: #fff;
  height: 300px;
  height: auto;
  width: full;
  border: none;
  box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);

}

.about .about-grid-item h3,
.about .about-column-item h3 {
  margin: 1rem;
  text-align: center;
}

.about .about-grid-item p,
.about .about-column-item p {
  margin: .5rem 1rem;
  text-align: center;
}

.about-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  height: auto;
  width: 100%;
  padding: 1vh;
}

.about-column-item {
  background-color: #fff;
  height: auto;
  border: none;
  box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);
  padding: 1rem;

}

.about-column-item a h3 {
  color: #f05d27cc
}

.contactUs h2 {
  margin: 1rem;
  text-align: center;
}

.contactUs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  height: auto;
  width: 100%;
  padding: 1vh;
}

.ContactUs-grid-item {
  background-color: #fff;
  height: auto;
  border: none;
  box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);
  padding: 1rem;

}

.ContactUs-grid-item h3,
.ContactUs-grid-item h4 {
  margin: 1rem;
  text-align: center;
}

.ContactUs-grid-item h3 {
  text-decoration: underline;
}

.ContactUs-grid-item h4 {
  margin-top: 2rem;
}

.ContactUs-grid-item p {
  margin: .5rem 1rem;
  text-align: center;
}

.contactUs .login_register form {
  margin: 0;

}

/*--------------footer--------*/
@media only screen and (max-width:768px) {
  .top {
    margin-top: 15%;
  }

  .home .box .text {
    max-width: 100%;
  }

  .home .box .text::after,
  .home .image_item {
    display: none;
  }

  .restaurant .container,
  .about .container,
  .book .container {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .book {
    margin-top: 10%;
    /* height: auto; */
  }

  .book .search {
    width: 100%;
  }

  .book .search input {
    margin-top: 0;
  }

  .driverbook {
    top: -42rem;
  }

  .about .image1 {
    left: 5%;
    top: -2rem;
  }

  .about .image2 {
    right: 5%;
    /* top:-1rem; */
  }

  .about-grid,
  .about-column {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-img {
    height: 200px;
  }

  .left,
  .right {
    width: 100%;
  }

  .wrapper .text {
    width: 80%;
  }

  .room {
    margin-bottom: 100px;
  }

  .room .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .restaurant .right {
    padding: 0;
    margin-top: 50px;
  }

  .contactUs-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  footer .payment {
    grid-template-columns: repeat(4, 1fr);
  }

}

@media only screen and (max-width:768px) {

  .grid,
  .grid3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .home .text {
    margin: 10% 0 0 0;
  }

  .home h1 {
    font-size: 40px;
  }

  .about p,
  .home p {
    margin: 50px 0 0 0;
  }

  .wrapper .text {
    padding: 10px;
    height: 600px;
  }

  .heading_top {
    margin-top: 100px;
  }

  .heading_top button {
    padding: .5rem;
    width: 7rem;
  }

  .restaurant .flex {
    flex-direction: column-reverse;
  }
}


/* package detail */
.cards {
  height: auto;
  width: full;
  display: flex;
  justify-content: center;
  margin: 0 1rem;
  padding: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.cards:nth-child(2n) {
  flex-direction: row-reverse;
}

.card-item {
  width: full;
}

.cards img {
  height: 250px;
  width: 30%;
  object-fit: cover;
  object-position: center;
  margin: 1px;
}

.card-item .h2 {
  font-size: 20px;
}

.cards p {
  font-size: 14px;
  /* width: 40%; */
}

.gallery {
  padding: 80px 0px;
}

.gallery img {
  background: #fff;
  padding: 15px;
  width: 100%;
  height: 15rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}

#gallery-popup .modal-img {
  width: 100%;
}

.main .productbanner img {
  height: 40rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1rem;
}

.main .productbanner h2,
.main .productbanner p {
  width: auto;
  text-align: center;
}

.card-item h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  align-items: center;
  margin: 1rem 0;
}

p {
  padding: 0 2rem;
}

/*  login register form */
.login_register {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_register form {
  margin-top: 2rem;
  background-color: coral;
  color: white;
  width: 500px;
  text-align: center;
  border-radius: 5px;
  padding: 1rem;
}

.login_register form label,
.login_register form input,
.login_register form .btn,
.login_register form textarea {
  width: 80%;
  padding: .6rem;
  font-size: 1.1rem;
}

.login_register form label {
  /* padding-left: 0; */
  text-align: left;
  padding: .6rem .6rem .1rem .6rem;
}

.login_register form input,
.login_register form textarea {
  border: 2px solid gray;
  border-radius: 1rem;
  margin-top: 0;
}

.login_register form .btn {
  border-radius: 1rem;
  width: 8rem;
  margin: 1rem;
  border: 1px solid darkorange;
  background-color: darkorange;
}

.login_register form .btn:hover {
  background-color: coral;
  border: 1px solid gray;

}

.reviewForm .login_register form {
  width: 700px;
}

.reviewForm .login_register form .flex {
  justify-content: space-around;
}

.login_register form textarea {
  height: 8rem;
}


::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: gray;
}


/* profile page */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  margin-top: 2rem;
  background-color: coral;
  color: white;
  width: 500px;
  text-align: center;
  border-radius: 5px;
  padding: 1rem;
}

.profile img {
  height: 10rem;
  width: 10rem;
  border: 0.3rem solid white;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profile h2,
.profile h4 {
  margin: 0;
  margin-top: 1rem;
}

.profile p {
  margin: 0;
  font-size: 1.1rem;
}

.profile .btn {
  color: white;
  border-radius: 1rem;
  width: 10rem;
  margin: 1rem;
  border: 1px solid darkorange;
  background-color: darkorange;
}

.profile .btn:hover {
  background-color: coral;
  border: 1px solid gray;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.37rem;
  justify-content: center;
}

.driverbook1,
.driverbook1 .book {
  height: auto;
  top: 0;
}

/* contact us */
.contact {
  position: relative;
  top: 0px;
  width: 100%;
  height: auto;
  color: white;
}

/* --------- */
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.carcharges {
  width: 100%;
  display: flex;
  justify-content: center;
}

.carcharges table img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  object-position: center;
}

.head_middle {
  margin: 1rem 0;
  margin-top: 2rem;
  text-align: center;
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  margin: 2rem 0;
  grid-auto-flow: dense;
  direction: rtl;

}

.reviews-rating {
  position: relative;
  width: 100%;
  margin: 2rem;
  margin-top: 0;
  text-align: center;
}

.reviews-rating .review1,
.reviews-rating .review2,
.reviews-rating .review3,
.reviews-rating .review4 {
  position: relative;
  margin: 2rem auto;
  height: 5px;
  width: 400px;
  background-color: gray;
  border: none;
  border-radius: 2px;
  text-align: right;
}

.reviews-rating span {
  content: "";
  position: absolute;
  height: 5px;
  top: 0;
  left: 0;
  border-radius: 2px;
  background: blue;
  width: 50%;
}

.review-text {
  text-align: center;
}

.review-div .reviewer-img{
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.feedback-div {
  width: full;
  margin: 10px 20px;
  padding: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.feedback-div .reviewer-img{
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
}

.feedback-div p,
.feedback-div h4 {
  margin: 1rem;
  padding: 1rem;
}

footer li {
  color: #000000;
  text-decoration: none;
}

/*  order table */

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.order-detail .table{
  display: flex;
  justify-content: center;
}
.order-detail #customers{
  width: 800px;
}

.fixed-btn-book{
  padding: .2rem;
  position: fixed; 
  top:4rem; 
  right:1rem; 
  z-index: 100;
}
.fixed-btn-book .btn1{
  padding: 1rem;
}
@media only screen and (max-width:768px) {
  .reviewForm {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid,
  .grid3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .main .productbanner img {
    height: 20rem;
  }

  .main .cards {
    display: block;
    padding: 1px;
    height: auto;
  }

  .main .cards .card-item,
  .main .cards img {
    width: 99%;
  }

  .reviewForm .login_register form {
    width: 420px;
  }

  .login_register form {
    width: 100%;
  }

  .review-grid {
    display: block;
  }

  .reviews-rating {
    width: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
  }

  .reviews-rating .review1,
  .reviews-rating .review2,
  .reviews-rating .review3,
  .reviews-rating .review4 {
    position: relative;
    margin: 2rem auto;
    height: 5px;
    width: 300px;
    background-color: gray;
    border: none;
    border-radius: 2px;
    text-align: right;
  }

  /*  order table */

  #customers {
    width: full;
  }

  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: .8rem;
  }

  #customers th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  .order-detail #customers{
    width: 420px;
  }
  .fixed-btn-book{
    top:2rem; 
    right:1rem;
  }
  .fixed-btn-book .btn1{
    padding: .5rem;
  }
}