<section class="wrapper top">
  <div class="container">
    <div class="text">
      <h2>Our Facilities</h2>
      <p>We mediate for day and multi-day trips for the drivers. Personal wishes, comfort and a special journey are
        always central. </p>
      <p>All of our drivers are English speaking. The excellent knowledge of the country and the environment ensures
        that you can enjoy India to the fullest.</p>

      <div class="content">
        <div class="box flex">
          <i class="fas fa-car"></i>
          <span>Private Driver</span>
        </div>
        <div class="box flex">
          <i class="fas fa-bed"></i>
          <span>Hotel Booking</span>
        </div>
        <div class="box flex">
          <i class="fas fa-spa"></i>
          <span>Travel Packages</span>
        </div>
        <div class="box flex">
          <i class="fas fa-sack-dollar"></i>
          <span>Low Cost</span>
        </div>
        <div class="box flex">
          <i class="fas fa-user-headset"></i>
          <span>24 hr Service</span>
        </div>
        <div class="box flex">
          <i class="fas fa-people-carry"></i>
          <span>Friendlyness</span>
        </div>
      </div>
    </div>
  </div>
</section>