<section class="about top" id="about">
    <div class="container flex">
      <div class="left">
        <div class="img">
          <img src="/static/images/a1.jpg" alt="" class="image1">
          <img src="/static/images/a2.jpg" alt="" class="image2">
        </div>
      </div>
      <div class="right">
        <div class="heading">
          <h5>RAISING ADVENTURE TO THE HIGHEST LEVEL</h5>
          <h2>Welcome to Pearls of India and Nepal</h2>
          <p>India and Nepal are countries full of attractions. A colorful Indian population, beautiful nature, special culture and a wonderful climate. Smell, feel, see, taste and hear, your senses are optimally stimulated and put to the test in India. The Pearls of India mediates in private travel with driver through (North) India. A private driver offers unprecedented possibilities; you will become acquainted with the countless sights, special culture, animals and people of India and Nepal, but above all you can travel in a comfortable way and enjoy yourself to the fullest. We bring tourists in contact with the drivers for this unforgettable journey. . </p>
          <!-- <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p> -->
          <a href="{%url 'about_view'%}"><button class="btn1">READ MORE</button></a>
        </div>
      </div>
    </div>
  </section>