<section class="wrapper wrapper2 top">
    <div class="container">
      <div class="text">
        <div class="heading">
          <h5>AT THE HEART OF COMMUNICATION</h5>
          <h2>People Say</h2>
        </div>
  
        <div class="para">
          <h3>Awesome hospitality</h3>
          <p>I am delighted to have an awesome experience of traveling through India and Nepal with Pearls of India.</p>
  
          <div class="box flex">
            <div class="img">
              <img src="static/images/c.jpg" alt="">
            </div>
            <div class="name">
              <h5>KATE PALMER</h5>
              <h5>IDAHO</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>