{% extends './base.html' %}
{% load static %}
{% block content %}

<div  class="login_register">
    <form action="{% url 'change_password_view' %}" method="POST">
        {% csrf_token %}
      <h2>Change Password Form</h2>
      <label for="FormControlInput1">Current Password :</label>
      <br>
      <input type="password" id="FormControlInput1" placeholder="password" name="current_password">
      <br>

      <br>
      <label for="FormControlInput1">New Password :</label>
      <br>
      <input type="password" id="FormControlInput1" placeholder="password" name="new_password">
      <br>

      <br>
      <label for="FormControlInput1">Confirm New Password :</label>
      <br>
      <input type="password" id="FormControlInput1" placeholder="password" name="confirm_password">
      <br>
      <button class='btn-secondary btn' type="submit">submit</button>

    </form>
</div>


{% endblock content %}