{% extends './base.html' %}
{% load static %}
{% block content %}
<div class="contactUs">

    <h2>Contact Us</h2>

    <div class="contactUs-grid">
        <div class="ContactUs-grid-item">
            <h3>Contact Information</h3>
            <h4>Physical office</h4>
            <p>3015 Grand Ave, Cocount Grove,</p>
            <p>Merrick Way FL 123456</p>

            <h4>Email</h4>
            <p>info@Pearlsofindia.nl</p>

            <h4>Phone</h4>
            <p>123 456 7898</p>
            <p>123 456 7898</p>
        </div>
        <section class="book contact">
            <div class="container flex justify-content-center ">
                <div class="login_register">
                    <form action="{% url 'contact_view' %}" method="POST">
                        {% csrf_token %}
                        <label for="FormControlInput1">Full Name :</label>
                        <br>
                        <input type="text" id="FormControlInput1" placeholder="Full name" name="fullname" required>
                        <br>

                        <label for="FormControlInput1">Email :</label>
                        <br>
                        <input type="email" id="FormControlInput1" placeholder="name@hello.com" name="email" required>
                        <br>

                        <label for="FormControlInput1">Subject :</label>
                        <br>
                        <input type="text" id="FormControlInput1" placeholder="subject" name="subject" required>
                        <br>

                        <label for="FormControlInput1">message :</label>
                        <br>
                        <textarea type="text" id="FormControlInput1" value="" name="message" required>
                    </textarea>
                        <br>

                        <button class='btn-secondary btn' type="submit">submit</button>

                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock content %}