{% extends './base.html' %}
{% load static %}
{% block content %}

<div  class="login_register">
    <form action="{% url 'forgotpassword_view' %}" method="POST">
        {% csrf_token %}
      <h2>Forgot Password Form</h2>
      <label for="FormControlInput1">Your Email :</label>
      <br>
      <input type="email" id="FormControlInput1" placeholder="email" name="email">
      <br>
      <button class='btn-secondary btn' type="submit">submit</button>

    </form>
</div>


{% endblock content %}